body {
    margin-top: 0;
    padding-top: 0;
    font-family: sans-serif;
    font-size: 14pt;
    color: #333;
    background-color: #51B4D4;
}

#alert-area {
    font-size: 120%;
    font-weight: bold;
    color: white;
    margin-top: 0;
    padding: 2pt 1em 2pt 1em;
    border-radius: 0 0 4pt 4pt;
    background-color: #FE374A;
}

#home-link {
    font-size: 105%;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    font-size: 250%;
    color: white;
}

li {
    list-style-type: none;
    padding: 2pt 1em 2pt 1em;
    margin: 5pt;
    border-radius: 4pt;
    background-color: #B4DFED;
}

li > a {
    color: #FF8F24;
}

li > a:visited {
    color: #FEAE37;
}

form.one-line {
    font-size: 90%;
    padding: 2pt 1em 2pt 1em;
    margin: 5pt;
    border-radius: 4pt;
    background-color: #CCED83;
}
form.one-line > input[type=text] {
    width: 8em;
    border-color: #6EA73C;
    border-width: 1pt;
    border-style: solid;
    border-radius: 2pt;
}

form.one-line > input[type=submit] {
    background-color: #6EA73C;
    border-width: 1pt;
    border-style: none;
    border-radius: 4pt;
    font-weight: bold;
    color: white;
    margin: 3pt;
}
