{% set page_title = 'Group List' %}
{% extends 'page.html' %}
{% block content %}
    <ul class="groups">
        {% for group in groups %} 
            <li>
                <a href="{{ url_for('view_single_group', hex_group_id=group.group_id.hex) }}">{{ group.name|safe }}</a>
                expires {{ group.expiry }} 
            </li>
        {% endfor %}
    <ul>
{% endblock %}
