<!doctype html>
<html>
    <head>
        <title>Regroup - {{ page_title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        {% if g.alert %}
	    <div id="alert-area">{{ g.alert|safe }}</div>
        {% endif %}
	<a id="home-link" href="{{ url_for('view_all_groups') }}">Home</a>
        <h1>{{ page_title }}</h1>
        <div id="page-content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
