{% set page_title = 'Group: ' + group.name %}
{% extends 'page.html' %}
{% block content %}
    <ul class="groups">
        {% for member in members %} 
            <li>
                {{ member.full_name }} @ {{ member.latitude }}, {{ member.longitude }}
            </li>
        {% endfor %}
    </ul>
    <form class="one-line" action="add" method="post">
        <label for="name-input">Name:</label>
            <input type="text" name="name" id="name-input" value="{{ example.name|safe }}" />
        <label for="phone-input">phone:</label>
            <input type="text" name="phone" id="phone-input" value="{{ example.phone|safe }}"/>
        <label for="lat-input">latitude:</label>
            <input type="text" name="latitude" id="lat-input" value="{{ example.latitude|safe }} "/>
        <label for="long-input">longitude:</label>
            <input type="text" name="longitude" id="long-input" value="{{ example.longitude|safe }}"/>
        <label for="err-input">accuracy (m):</label>
            <input type="text" name="error" id="err-input" value="1.0" />
        <input type="submit" value="Add" />
    </form>
{% endblock %}
